.inner-content {
  &__title {
    text-align: center;
    font-size: px-to-rem(50px);
    padding: px-to-rem(60px);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: px-to-rem(10px);
    background-color: $white;
  }
}
