.portfolio {
  @include grid-column(12);

  max-width: px-to-rem(1200px);
  flex-direction: column;

  &__chart-wrapper {
    @include grid-column(12);

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__coin-cards {
    @include grid-container
  }
}
