$default-font-size: 16px;
$default-font-family: 'Open Sans', sans-serif !important;

$index-rear: -1;
$index-base: 0;
$index-front: 10;
$index-ahead: 100;
$index-foremost: 9999;
$container-width: #{$breakpoint-xl/$default-font-size}rem;

$header-vertical-padding: px-to-rem(30px);
$header-horizontal-padding: px-to-rem(100px);

$summary-font-size: px-to-rem(40px);

$default-border-radius: px-to-rem(10px);
$button-border-radius: px-to-rem(100px);

$footer-height: px-to-rem(50px);
$footer-padding: px-to-rem(20px);
$footer-margin-top: px-to-rem(50px);
$footer-total: px-to-rem(141px);
