.portfolio {
  display: flex;
  flex-direction: column;

  &__chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
  }

  &__coin-cards {
    @include grid-container
  }
}
